@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @if (User.Identity.Name=="admin") {
        <li>
            @Html.ActionLink("Reportes", "Index", "Reporte", routeValues: null, htmlAttributes: new { title = "Reportes" })
        </li>

        }
        else
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mis Libros<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("IngresarLibro", "Usuario")">Ingresar libro</a></li>
                    <li><a href="/Usuario/Libros/?email=@User.Identity.Name">Mis libros</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Intereses<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Intereses")">Interesados</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Propios", "Intereses")">Me interese</a></li>
                </ul>
            </li>

            <li>
                @Html.ActionLink("Mis Deseos", "ListaDeseos", "Deseo", routeValues: null, htmlAttributes: new { title = "Deseos" })
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
