@model IEnumerable<Koob.Dominio.Libro>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Libros";
}
 <script type="text/javascript" src="@Url.Content("~/Scripts/custom/Deseo.js")"></script> 
<h2>Libros Disponibles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ISBN
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Propietario
        </th>
        <th>
            Categoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lib_isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_email)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.lib_codigo)
            @Html.DisplayFor(modelItem => item.lib_catNombre)
        </td>
@if (Request.IsAuthenticated && item.usu_email != User.Identity.Name)
{
        <td>
             
            <input id="usu_email" type="hidden" value=@User.Identity.Name />
            <button type="button" class="btn btn-default btn-sm" onclick="EnviarDatos()">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <div id="CuerpoMensaje">
                <div id="mensaje"></div>    
            </div>
        </td>
}
        <td>
            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

            *@
        </td>
    </tr>
}

</table>
