@model IEnumerable<Koob.Dominio.Libro>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Libros";

}
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/Busquedas.js")"></script>
<div class="wrapper-main">
    <h2>Libros disponibles: </h2>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <input id="titulo" type="text" class="form-control"  placeholder="Buscar Por Titulo" >
            </div>            
            <button type="button" class="btn btn-default btn-sm" onclick="BuscarTitulo()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <div class="form-group">
                <input id="autor" type="text" class="form-control" placeholder="Buscar Por Autor">
            </div>
            <button type="button" class="btn btn-default btn-sm" onclick="BuscarAutor()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <div class="form-group">
                <select id="categoria" class="btn btn-default dropdown-toggle">
                    <option value="" disabled selected>Buscar por Categoria</option>
                    <option>Ciencia Ficción</option>
                    <option>Novelas</option>
                    <option>Técnicos</option>
                    <option>Negocios</option>
                    <option>Arte</option>
                    <option>Cine</option>
                    <option>Ciencia</option>
                    <option>Desarrollo Web</option>
                    <option>Filosofía</option>
                    <option>Historia</option>
                    <option>Geografía</option>
                    <option>Electrónica</option>
                    <option>Ciencias Aplicadas</option>
                </select>

            </div>
            <button type="button" class="btn btn-default btn-sm" onclick="BuscarCategoria()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>
               
    </div>
    <div class="row">
        <aside class="listing-side">
            <nav id="listing-nav">
                <span class="title">Escoger Categorias</span>
                <ul class="princip-categorias">
                    <li>
                        <a href='@Url.Action("Index", "Populares")' class="glyphicon glyphicon-fire cate">
                            <span>Populares</span>
                        </a>
                    </li>
                    <li>
                        <a href='' class="glyphicon glyphicon-user cate">
                            <span>Autor</span>
                        </a>
                    </li>
                    <li>
                        <a href='' class="glyphicon glyphicon-tower cate">
                            <span>Fantasia</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section id="lista-items">
            @foreach (var item in Model)
            {


                <div class="col-xs-6 col-md-3">
                    <a href='@Url.Action("Details", "Libro", new { id = item.lib_codigo })' class="thumbnail">
                        <figure class="items-image">
                            <img class="img-index" src=@("http://"+item.lib_imagen) alt=@item.lib_titulo>
                        </figure>
                    </a>

                    <div class="items-info">
                        <h3> @Html.DisplayFor(modelItem => item.lib_titulo)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.lib_autores)</h4>
                        <h4><a href="@Url.Action("usuario", "Deseo", new { email = item.usu_email })">@Html.DisplayFor(modelItem => item.usu_email)</a></h4>
                        <h4>@Html.DisplayFor(modelItem => item.lib_catNombre)</h4>

                        @if (Request.IsAuthenticated && item.usu_email != User.Identity.Name && User.Identity.Name != "admin")
                {
                            <h4>

                                <input id="usu_email" type="hidden" value=@User.Identity.Name />
                                <button type="button" class="btn btn-default btn-sm" onclick="EnviarDatos(@item.lib_codigo)">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </button>

                            </h4>

                        }
                    </div>
                </div>
            }
        </section>

    </div>
</div>

