@model IEnumerable<Koob.Dominio.Libro>

@{
    ViewBag.Title = "Libros";
}

<h2>Libros Disponibles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lib_isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lib_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lib_isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cat_codigo)
        </td>
        <td>
            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

            *@
        </td>
    </tr>
}

</table>
