@model IEnumerable<Koob.Dominio.Usuario>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    ViewBag.Title = "Index";


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usu_codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usu_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
}
else
{
    Response.Redirect("~/Usuario/Login");
}
